<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 topic_index">
      <h3>ユーザー情報</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: "名前", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <i>(変更がない場合は空白にして下さい)</i><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワード再入力",class: "form-control" %>
      </div>

      <div class="field">
        <i>(更新確認のため、現在のパスワードを入力して下さい)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "現在のパスワード", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "更新", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>

      <p>アカウントを削除しますか? <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete %></p>
      <%= link_to "戻る", :back %>
    </div>
  </div>
</div>
