<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <p><%= notice %></p>

      <% if @topic.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @topic.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for(@topic) do |f| %>
        <%= f.text_field :content, class: 'form-control', placeholder: "今なにしてる？" %>
        <%= f.submit "投稿する", class: "btn btn-primary btn-block" %>
      <% end %>

      <% @topics.each do |topic| %>
        <div class="topic_index">
          <p><%= topic.content %></p>
          <p><%= topic.created_at %></p>
          <!-- user name and time -->
          <%= link_to "編集", edit_topic_path(topic.id) %>
          <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>