<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <p><%= notice %></p>

      <%= form_for(@topic) do |f| %>
        <%= f.text_field :content, class: 'form-control', placeholder: "今なにしてる？" %>
        <%= f.submit "投稿する", class: "btn btn-primary btn-block" %>
      <% end %>

      <% @topics.each do |topic| %>
        <div class="row">
          <%= link_to topic_path(topic) do %>
            <h4><strong>see more</strong></h4>
          <% end %>
          <p><%= topic.content %></p>
          <!-- user name and time -->
        </div>
      <% end %>
    </div>
  </div>
</div>