<!DOCTYPE html>
<html>
<head>
  <title>Fakebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="row">
              <a href="/topics">FakeBook</a>

              <div class="input-group">
                <input type="text" class="form-control" placeholder="友達を見つける">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>

              <div class="list col-md-5 col-sm-12 col-xs-12">
                <li><%= link_to "user name", "#" %></li>
                <li><%= link_to "ホーム", root_path %></li>
                <li><%= link_to "友達を検索", "#" %></li>
                <li><%= link_to "", "#",
                  class: 'glyphicon glyphicon-user' %></li>
                <li><%= link_to "", "#",
                  class: 'glyphicon glyphicon-comment' %></li>
              </div>
            </div>
          </div>
        </nav>
      </header>
    </div>
  </div>

  <%= yield %>

</body>
</html>
